ENABLED_ADMIN_USERNAME
ENABLED_ADMIN_PASSWORD
ENABLED_ADMIN_FULL_NAME
ENABLED_ESS_USERNAME
ENABLED_ESS_PASSWORD
DISABLED_ESS_USERNAME
DISABLED_ESS_PASSWORD
ORANGEHRM_URL
# Set Literal value from the list [chrome, edge, firefox]
BROWSER 